.guide{
    max-width: 1440px;
    height: 105px;
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 20px 130px 0px 130px;
        align-items: center;
    }
    &-content>h5{
        font-family: var(--secondary-color);
        font-size: 15.5px;
        font-weight: 200;
    }
}
#line{
    max-width: 100%;
    border-bottom: 2px solid var(--secondary-color);
}

