.header-toolbar{
   
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
    align-items: center;
    max-width: 80%;
    margin: 40px 260px 0px 100px 
}

.header-search{
    display: flex;
    margin-left: 80%;
}
.header-search>input{
    width: 153px;
}
.header-search>input,.header-search>img{
    position: relative;
    padding-left: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
   
}

#logo{
    width: 120px;
    height: 80px;
    padding-left:10px;
}

#toolbar-icon{
    position: fixed;
    cursor: pointer;
}

@media only screen and (max-width: 1025px){
    .header-toolbar{
        margin: 0 auto;
        max-width: 70%;
        align-items: center;
     
    }
    
    .header-search{
        display: flex;
        margin-left: 80%;
    }
    .header-search>input{
        width: 153px;
    }
    .header-search>input,.header-search>img{
        position: relative;
        padding-left: 0;
        background-color: transparent;
        border-bottom: 2px solid var(--secondary-color);
       
    }
    
    #logo{
        width: 120px;
        height: 80px;
        padding-left:10px;
    }
    
    #toolbar-icon{
        position: fixed;
        cursor: pointer;
    }
}

@media only screen and (max-width: 769px){
    .header-toolbar{
        margin: 0;
        max-width: 100%;
        #logo{
            width: 100px;
            height: 70px;
            padding-left:10px;
        }
        .header-search>input{
            width: 100px;
        }
    }
    

}
    




