.quotes{
    height: 800px;
    border-bottom: 2px solid var(--secondary-color);
    font-family: var(--primary-font);
    padding-top: 10%;
    padding-left: 138px ;
    &-title{
        >h2{
            font-size: 110px;
            font-weight: 300; 
        }

        >p>strong{
            font-size: 80px;
            font-weight: 300;
        }
        >h5{
            line-height: 5;
            font-weight: bold;
        }
        >p,h5{
            font-size: 26px;
            font-weight: 300;
            width: 80%; 
        }
    }
}

@media only screen and (max-width: 1029px){
    .quotes{
        padding-top: 10%;
        &-title{
            h2{
                font-size: 90px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 769px){
    .quotes-title > p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px){
    .quotes{
        padding-top: 20vh;
        padding-left: 30px;
    }
    .quotes-title{
        width: 100vw;
        h2{
            font-size: 50px;
        }
        p{
            font-size: 12px;
        }
        h5{
            font-size: 12px;
        }
       
    }
}